* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: "Vollkorn SC", serif;
}

h1 {
  color: rgb(247, 147, 26);
  font-style: bolder;
}

#bit-logo {
  color: rgb(247, 147, 26);
}

.header {
  width: 100%;
  background-color: rgb(77, 77, 78);
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(247, 147, 26);
}

.navbar-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.background-image {
  position: relative;
  text-align: center;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: red;
}

.selfie {
  max-width: 100%;
  height: auto;
}

/* This div design part is
            used as an Image */
.selfie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  float: left;
  font-weight: bold;

  /* Change the shape according
                to the image */
  shape-outside: circle();
  /* background-color: Green; */
  color: white;
}

article {
  padding-top: 75px;
  display: inline-block;
}

p {
  text-align: justify;
  font-size: 16px;
}
