* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: "Vollkorn SC", serif;
}

h1 {
  color: rgb(247, 147, 26);
  font-style: bolder;
}

#bit-logo {
  color: rgb(247, 147, 26);
}

.header {
  width: 100%;
  background-color: rgb(77, 77, 78);
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(247, 147, 26);
}

.navbar-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.background-image {
  position: relative;
  text-align: center;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: rgb(247, 147, 26);
  font-size: 20px;
  font-weight: bolder;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.sections > h3 {
  text-align: right;
  padding-right: 20px;
  border-right: 5px solid black;
  flex: 0 0 10%;
}

.sections > div {
  flex: 0 0 87%;
  display: flex;
}

p {
  padding-left: 10px;
}

.selfie {
  border-radius: 30px 30px 30px 30px; /*More Oval shape */
  padding-right: 5px;
}

.sections > figure {
  flex-direction: column-reverse;
  display: flex;
  border: 5px solid black;
}

/* .section-title {
  display: flex;
  flex-direction: column;
}

.section-image {
  max-width: 100%;
  height: auto;
}

.selfie {
  /* width: 200px;
  height: 200px; */
/* display: flex; */
/* justify-content: center;
  border-radius: 50%;
  /* text-align: center;
  font-size: 30px;
  float: left; */
/* shape-outside: circle();
  color: white;
}

article {
  padding-top: 75px;
  display: inline-block;
}

.content {
  display: flex;
  justify-content: flex-end;
}

.section-title {
  display: flex;
  justify-content: center;
}

.about-text {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
} */
